/* Aplicando reset no css padrão */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
}
.NovaConta {
  width: 50%;
  text-align: center;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.carreira {
  width: 50%;
  background-color: #0056fb;
  height: 100vh;
}
.carreira img {
  padding-left: 16%;
  padding-top: 25%;
}
.carreira h1 {
  color: white;
  padding-left: 19%;
  padding-top: 3%;
}
.carreira p {
  color: white;
  padding-left: 19%;
  padding-top: 3%;
}
button {
  background-color: #0056fb;
  color: white;
  padding: 16px;
  width: 100px;
}
